
 
 @media (max-width: 750px) {
     
     .lessons {
        
        border-radius: 1px;
     }




        .site-header {
        font-size: 40px;
        text-align: center;
        background-color: beige;
        
     }
     
     .text * {
        text-align: center;
     }
     
     .img {
        text-align: center;
     }
     
     .steps {
        background-color: burlywood;
     }


     
     .why-us {
        background-color: chocolate;
     }

    }

 @media (max-width: 480px) {

    .site-header {
    background-color: aquamarine;
    max-width: 100%;
    }

    
    .col, .card {
        background-color: brown;
        display: wrap;


    }

    .why-us
    .container {
      text-align: center;
    }



    .col > .col-right {
        text-align: center;
        display: flex;
        background-color: cadetblue;
    }
     
}
